/* font-family: "Poppins", sans-serif;
font-family: "Hind Siliguri", sans-serif; */



#pc-toggle{
    display: none;
}
.mobile{
    display: none;
}
 @media screen and (max-width:660px) {
    .pc{
        display: none;
    }
    #pc-toggle{
        display: inline;
    }
 }

html{
    scroll-behavior: smooth;
}

.active{
    background-color: #422ad5;
    color: white;
}

.active i{
    color: white;
}